In [1]:
import pandas as pd
import numpy as np
import string
import preprocessor as p
import re
from nltk.corpus import stopwords

In [2]:
df = pd.read_csv("./corpus/pubg/pubg_2022-3-16_2022-4-13_tweetdata.csv", encoding='UTF-8')

In [3]:
df

,Unnamed: 0,Datetime,Text
0,0,2022-04-12,@BigaofTEDG @NaFreshDeyTrend @jadadeeva Ona no...
1,1,2022-04-12,@popo_pubg_1214 @pubg_gunfinger めっちゃ集まるwwww\n集...
2,2,2022-04-12,@rouya_pubg 大丈夫だよなんとか🥺
3,3,2022-04-12,@onib_pubg かなりやばいですねそれ…\nでも仕方ないからゲームは控えめにして、おさ...
4,4,2022-04-12,Tum jitna marzi pubg free fire ludo khel lo.. ...
...,...,...,...
322971,322971,2022-03-16,#PUBG\n実験カスタムにも関わらずご参加いただいた方々に感謝です。\n\n初戦、灰狼らし...
322972,322972,2022-03-16,@PUBG_Chikwa0116 いつもかわいいツイートありがと🐤❤︎
322973,322973,2022-03-16,@GoonMobileYT @4ceLawrence @PUBGMOBILE @NEWSTA...
322974,322974,2022-03-16,TIMES RUNNING OUT ⏰ \n\nDON'T MISS YOUR CHANCE...
322975,322975,2022-03-16,Confira minha transmissão do meu PlayStation 4...

In [4]:
df = df[['Text']]

In [5]:
df

                                                     Text
0       @BigaofTEDG @NaFreshDeyTrend @jadadeeva Ona no...
1       @popo_pubg_1214 @pubg_gunfinger めっちゃ集まるwwww\n集...
2                                  @rouya_pubg 大丈夫だよなんとか🥺
3       @onib_pubg かなりやばいですねそれ…\nでも仕方ないからゲームは控えめにして、おさ...
4       Tum jitna marzi pubg free fire ludo khel lo.. ...
...                                                   ...
322971  #PUBG\n実験カスタムにも関わらずご参加いただいた方々に感謝です。\n\n初戦、灰狼らし...
322972                @PUBG_Chikwa0116 いつもかわいいツイートありがと🐤❤︎
322973  @GoonMobileYT @4ceLawrence @PUBGMOBILE @NEWSTA...
322974  TIMES RUNNING OUT ⏰ \n\nDON'T MISS YOUR CHANCE...
322975  Confira minha transmissão do meu PlayStation 4...

[322976 rows x 1 columns]

In [6]:
# 전처리 함수 내 사용
contractions = {"ain't": "is not", "aren't": "are not","can't": "cannot", "'cause": "because", "could've": "could have", "couldn't": "could not", "didn't": "did not",  "doesn't": "does not", "don't": "do not", "hadn't": "had not", "hasn't": "has not", "haven't": "have not", "he'd": "he would","he'll": "he will", "he's": "he is", "how'd": "how did", "how'd'y": "how do you", "how'll": "how will", "how's": "how is", "I'd": "I would", "I'd've": "I would have", "I'll": "I will", "I'll've": "I will have","I'm": "I am", "I've": "I have", "i'd": "i would", "i'd've": "i would have", "i'll": "i will",  "i'll've": "i will have","i'm": "i am", "i've": "i have", "isn't": "is not", "it'd": "it would", "it'd've": "it would have", "it'll": "it will", "it'll've": "it will have","it's": "it is", "let's": "let us", "ma'am": "madam", "mayn't": "may not", "might've": "might have","mightn't": "might not","mightn't've": "might not have", "must've": "must have", "mustn't": "must not", "mustn't've": "must not have", "needn't": "need not", "needn't've": "need not have","o'clock": "of the clock", "oughtn't": "ought not", "oughtn't've": "ought not have", "shan't": "shall not", "sha'n't": "shall not", "shan't've": "shall not have", "she'd": "she would", "she'd've": "she would have", "she'll": "she will", "she'll've": "she will have", "she's": "she is", "should've": "should have", "shouldn't": "should not", "shouldn't've": "should not have", "so've": "so have","so's": "so as", "this's": "this is","that'd": "that would", "that'd've": "that would have", "that's": "that is", "there'd": "there would", "there'd've": "there would have", "there's": "there is", "here's": "here is","they'd": "they would", "they'd've": "they would have", "they'll": "they will", "they'll've": "they will have", "they're": "they are", "they've": "they have", "to've": "to have", "wasn't": "was not", "we'd": "we would", "we'd've": "we would have", "we'll": "we will", "we'll've": "we will have", "we're": "we are", "we've": "we have", "weren't": "were not", "what'll": "what will", "what'll've": "what will have", "what're": "what are", "what's": "what is", "what've": "what have", "when's": "when is", "when've": "when have", "where'd": "where did", "where's": "where is", "where've": "where have", "who'll": "who will", "who'll've": "who will have", "who's": "who is", "who've": "who have", "why's": "why is", "why've": "why have", "will've": "will have", "won't": "will not", "won't've": "will not have", "would've": "would have", "wouldn't": "would not", "wouldn't've": "would not have", "y'all": "you all", "y'all'd": "you all would","y'all'd've": "you all would have","y'all're": "you all are","y'all've": "you all have", "you'd": "you would", "you'd've": "you would have", "you'll": "you will", "you'll've": "you will have", "you're": "you are", "you've": "you have", "&gt;" : "is greater than", "&lt;" : "is less than", "&nbsp;": " ", "&amp;" : "and", "&quot;" : '"'}


def preprocessing(data) :
    data = re.sub('’|‘|´|`', '\'', data)
    data = re.sub('\\n', ' ', data)
    # lowering
    data = data.lower()
    #prevent removing "leage of legends" 
    data = re.sub('league of legends', 'leagueoflegends', data)
    # normalize abbreviation
    data = ' '.join([contractions[t] if t in contractions else t for t in data.split(" ")])
    # clean corpus to remove emoji and URL
    data = p.clean(data)
    # remove numbers and punctuations
    data = re.sub(r'[^A-Za-z ]', ' ', data)
    # remove duplicated alphabets
    data = re.sub(r'([A-Za-z])\1{2,}', r'\1', data)
    data = ' '.join(data.split())
    
    return data

# 전처리
df['Text'] = df['Text'].apply(lambda x : preprocessing(x))
df_temp = df[df['Text'] == ''].index
df = df.drop(df_temp)

C:\Users\82106\AppData\Local\Temp/ipykernel_15072/3000422938.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Text'] = df['Text'].apply(lambda x : preprocessing(x))

In [7]:
df

                                                     Text
0                                    ona no dey play pubg
1                                                       w
4       tum jitna marzi pubg free fire ludo khel lo le...
6                                                    pubg
7                                                    pubg
...                                                   ...
322970                                          of course
322971                                               mama
322973                                      love the mini
322974  times running out do not miss your chance to w...
322975  confira minha transmisso do meu playstation pu...

[224434 rows x 1 columns]

In [15]:
# 불용어 사진
stop_words = set(stopwords.words('english')) 

def approx_english_detection(line) :
    total_words = line.split()
    stops_num = 0;
    for w in total_words: 
        if w in stop_words : stops_num += 1
    if(stops_num > 0) : return 'en'
    return 'other'

In [16]:
df['approx'] = df['Text'].apply(lambda x : approx_english_detection(x))

In [17]:
df['approx'].value_counts()

other    148209
en        76225
Name: approx, dtype: int64

In [18]:
df.loc[df['approx'] == 'other']

                                                     Text approx
1                                                       w  other
4       tum jitna marzi pubg free fire ludo khel lo le...  other
6                                                    pubg  other
7                                                    pubg  other
8                                      pubg de senin grev  other
...                                                   ...    ...
322961                         pubg oynayan erkek yalnzdr  other
322964                                         pubgheaven  other
322967  uzun bir zamandan sonra pubg indirdim inallah ...  other
322968                                                  w  other
322971                                               mama  other

[148209 rows x 2 columns]

In [2]:
import nltk

# 아마 이거 다운로드 받아야될텐데 어케 받았는지 기억이 안남 ㅎㅎ 아님 말고~
words = set(nltk.corpus.words.words())

#이게 그냥 영어사전으로 하는거
def approx_english_detection2(line) :
    total_words = line.split()
    eng_num = 0;
    for w in total_words: 
        if w in words : eng_num += 1
    if(eng_num > 0) : return 'en'
    return 'other'

In [30]:
df['approx2'] = df['Text'].apply(lambda x : approx_english_detection2(x))

In [31]:
df['approx2'].value_counts()

en       166168
other     58266
Name: approx2, dtype: int64

In [3]:
len(words)

235892